@import "../src/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&family=Big+Shoulders+Display:wght@700&display=swap");
.root {
  width: 100vw;
  height: 100vh;
  background-color: hsl(214, 47%, 23%);
  font-family: "Barlow Semi Condensed", sans-serif;
  color: whitesmoke;
}
.containerbuttons {
  display: flex;
  justify-content: center;
  background-image: url(../src/images/bg-triangle.svg) no-repeat;
  background-position: center;
  background-position-y: 340px;
}
.containermenu {
  display: flex;
  position: absolute;
  padding: 1rem;
  left: 530px;
  top: 30px;
  width: 480px;
  height: 75px;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  border-radius: 0.7rem;
  border: 2px solid rgba(247, 247, 247, 0.329);
}
.restart {
  position: absolute;
  z-index: -1;
  width: 7rem;
  left: 145px;
  top: 385px;
  font-size: 20px;
  border-radius: 0.5rem;
  background-color: hsl(80, 27.27%, 97.84%);
  border: 2.5px solid hsl(80, 27.27%, 97.84%);
  padding: 0.5rem;
  transition: 1s;
}
.resultado {
  position: relative;
  display: flex;
  justify-content: center;
  top: 160px;
  font-size: 2.8rem;
  opacity: 0%;
  transition: 2s;
}
.imagen {
  position: absolute;
  top: 340px;
  z-index: 0;
  transition: tranform 3s, 0.8s;
}
.imagenarriba {
  position: relative;
  right: 175px;
}
.rock {
  position: relative;
  z-index: 1;
  top: 485px;
  left: 150px;
  background: url(../src/images/icon-rock.svg) no-repeat;
  background-position: center;
  background-color: #f0f0f1;
  padding: 3.5rem;
  border: 1.15rem solid hsl(349, 71%, 52%);
  border-radius: 50%;
  transition: 1s;
}
.rock1 {
  position: absolute;
  z-index: -1;
  top: 485px;
  right: 695px;
  background: url(../src/images/icon-rock.svg) no-repeat;
  background-position: center;
  background-color: #f0f0f1;
  padding: 3.5rem;
  border: 1.15rem solid hsl(349, 71%, 52%);
  border-radius: 50%;
  transition: 1s;
}
.paper {
  position: relative;
  z-index: 1;
  top: 280px;
  right: 150px;
  background: url(../src/images/icon-paper.svg) no-repeat;
  background-position: center;
  background-color: #f0f0f1;
  padding: 3.5rem;
  border: 1.15rem solid hsl(230, 89%, 62%);
  border-radius: 50%;
  transition: 1s;
}
.paper1 {
  position: absolute;
  z-index: -1;
  top: 280px;
  right: 850px;
  background: url(../src/images/icon-paper.svg) no-repeat;
  background-position: center;
  background-color: #f0f0f1;
  padding: 3.5rem;
  border: 1.15rem solid hsl(230, 89%, 62%);
  border-radius: 50%;
  transition: 1s;
}
.scissors {
  position: relative;
  z-index: 1;
  top: 280px;
  right: 10px;
  background: url(../src/images/icon-scissors.svg) no-repeat;
  background-position: center;
  background-color: #f0f0f1;
  padding: 3.5rem;
  border: 1.15rem solid hsl(39, 89%, 49%);
  border-radius: 50%;
  transition: 1s;
}
.scissors1 {
  position: absolute;
  z-index: -1;
  top: 280px;
  right: 555px;
  background: url(../src/images/icon-scissors.svg) no-repeat;
  background-position: center;
  background-color: #f0f0f1;
  padding: 3.5rem;
  border: 1.15rem solid hsl(39, 89%, 49%);
  border-radius: 50%;
  transition: 1s;
}
.rock:hover {
  transform: scale(1.1);
  transition: 1s;
}
.paper:hover {
  transform: scale(1.1);
  transition: 1s;
}
.scissors:hover {
  transform: scale(1.1);
  transition: 1s;
}
.restart:hover {
  transform: scale(1.05);
  background-color: transparent;
  transition: 0.7s;
  color: hsl(80, 27.27%, 97.84%);
}
